.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
  font-weight: 900;
  margin: 0;
  background: #f6f6f8;
}

.sidebar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Montserrat';
  font-weight: 900;
  margin: 5px;
  height: 68vh;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 5px;
}

.content {
  height: 70vh;
}

.link {
  font-family: 'Montserrat';
  font-weight: 900;
  text-decoration: none;
  color: black;
}

.link:hover,
.link:focus {
  text-decoration: underline;
  color: #c4c4c4;
}

.link:active {
  opacity: 0.5;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Montserrat';
  font-weight: 900;
  margin: 10px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 5px;
  width: 100px;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-Bold.woff) format('woff');
}