.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
  font-weight: 900;
  background: #fff;
}

.title {
  font-family: 'Tahoma';
  font-weight: bold;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover,
.link:focus {
  text-decoration: underline;
  color: red;
}

.link:active {
  opacity: 0.5;
}

.login {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 30px;
}

.info {
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 15px;
  align-items: center;
}

.avatar {
  width: theme.spacing(7);
  height: theme.spacing(7);
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-Bold.woff) format('woff');
}