.btn {
  font-family: 'Montserrat';
  font-weight: 600;
  padding: 2px 8px;
  color: #000;
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.btn:hover {
  cursor: pointer;
  opacity: .8;
  transition: .3s;
}

.btn_active {
  padding: 2px 8px;
  background: #491099;
  border-radius: 23px;
  color: #ffd32b;
}

  
.btn_active:hover {
  cursor: pointer;
  opacity: .8;
  transition: .3s;
}

.items_count {
  font-family: 'Montserrat';
  margin: 0 0 0 3px;
  color: #356EFF;
}

.btn_active .items_count{
  color: #fff;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-Bold.woff) format('woff');
}


@media (max-width: 364px) {

  .flex {
    display: flex;
    flex-direction: column;
  }
}
